/** @format */

.LogingPage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* background: #0b3344; */
}

.bg_login {
  position: absolute;
  width: 197px;
  height: 100vh;
  left: 0px;
  top: 0px;
  border-radius: 0px 200px 200px 0px;
  border: 0ch;
  /* background: #0e88bc; */
}

.login_container {
  position: absolute;
  width: 200px;
  height: 267px;
  left: 135px;
  top: 200px;
}

@media screen and (max-width: 400px) {
  .login_container {
    top: 25vh;
  }
}

@media screen and (max-width: 600px) {
  .login_container {
    top: 30vh;
  }
}

.login_header {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.login_input {
  position: relative;
  width: 200px;
  height: 35px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 50px;
  margin-top: 24px;
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #ffffff;
  padding-left: 10px;
  outline: 0ch;
}

.signinbtn {
  position: absolute;
  width: 215px;
  height: 35px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 205px;
  background: #55595a;
  border: 0ch;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.donthaveAcc {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 0;
  top: 250px;
  margin-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.donthaveAcc_p {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 0;
  top: 280px;
  margin-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #17bd56;
  text-decoration: underline;
}
