/** @format */

.UpdateImage_imageArea {
  box-sizing: border-box;
  position: relative;
  width: 80%;
  height: 300px;
  left: 27px;
  top: 45px;
  background: transparent;
  border: 1px dashed #ffffff;
  border-radius: 5px;
}

.addCaption {
  position: absolute;
  width: fit-content;
  height: 18px;
  left: 34px;
  top: 350px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.addCaption_textArea {
  position: absolute;
  width: 274px;
  height: 80px;
  left: 31px;
  top: 390px;
  background: transparent;
  border: 1px solid #55595a;
  border-radius: 4px;
  outline: 0ch;
  resize: none;
  padding: 10px;
  color: white;
  font-style: italic;
}

.Upload_Btn {
  position: absolute;
  width: 220px;
  height: 35px;
  left: 35px;
  top: 510px;
  background: #55595a;
  border: 0ch;
  border-radius: 4px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
