/** @format */

.signup_container {
  position: absolute;
  width: 211px;
  height: 600px;
  left: 130px;
  top: 20vh;
}

@media screen and (max-width: 400px) {
  .signup_container {
    top: 20vh;
  }
}

@media screen and (max-width: 600px) {
  .signup_container {
    top: 25vh;
  }
}

.signup_header {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.signup_input {
  position: relative;
  width: 200px;
  height: 35px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 50px;
  margin-top: 24px;
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #ffffff;
  padding-left: 10px;
  outline: 0ch;
}

.signupbtn {
  position: relative;
  width: 215px;
  height: 35px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 55px;
  margin-top: 24px;
  background: #0e88bc;
  border: 0ch;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.alreadyhaveAcc {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 0;
  top: 362px;
  margin-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.alreadyhaveAcc_p {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 0;
  top: 392px;
  margin-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #0e88bc;
  text-decoration: underline;
}

.googleIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 7.5px;
}
