/** @format */

nav {
  width: 80vw;
  justify-content: space-between;
  padding: 0.7rem 1.7rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 6px;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  /* padding: 0.9rem; */
  border-radius: 50%;
  display: flex;
  color: #fff;
  font-size: 25px;
}

.active {
  color: #17bd56;
}
