/** @format */

.LogingPage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0b3344;
}

.bg_login {
  position: absolute;
  width: 197px;
  height: 100vh;
  left: 0px;
  top: 0px;
  border-radius: 0px 200px 200px 0px;
  border: 0ch;
}

.login_header {
  position: absolute;
  width: 46px;
  height: 18px;
  left: 212px;
  top: 267px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.login_input {
  position: relative;
  width: 200px;
  height: 35px;
  left: 135px;
  top: 311px;
  margin-top: 24px;
  background: #0b3344;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #ffffff;
  padding-left: 10px;
  outline: 0ch;
}

.signupbtn {
  position: absolute;
  width: 215px;
  height: 35px;
  left: 135px;
  top: 531px;
  background: #0e88bc;
  border: 0ch;
  border-radius: 4px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.donthaveAcc {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 135px;
  top: 582px;
  margin-top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.donthaveAcc_p {
  position: absolute;
  width: max-content;
  height: 18px;
  left: 135px;
  top: 610px;
  margin-top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #0e88bc;
}
